@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,400italic);
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

embed,
img,
object,
video {
  max-width: 100%;
  height: auto; }

.regal-blue {
  background-color: #034176; }

.denim {
  background-color: #0a6db2; }

.san-marino-blue {
  background-color: #3f669b; }

.cinnabar {
  background-color: #ed403f; }

.totem-pole {
  background-color: #9d0f03; }

.sun {
  background-color: #fdb814; }

.wheatfield {
  background-color: #f4efd6; }

.mine-shaft {
  background-color: #2b2b2b; }

.gray {
  background-color: #818181; }

.dusty-gray {
  background-color: #9c9c9c; }

.silver {
  background-color: #ccc; }

.alto {
  background-color: #dedede; }

.mercury {
  background-color: #eee; }

@media (min-width: 30em) {
  .sg-colors li {
    height: 12em !important; } }

@media (max-width: 400px) {
  .hide-small {
    display: none; } }

@media (min-width: 400px) and (max-width: 900px) {
  .hide-med {
    display: none; } }

@media (min-width: 900px) {
  .hide-large {
    display: none; } }

/* Icon Font */
@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format("embedded-opentype"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-twitter:before, .icon-stumbleupon:before, .icon-pinterest:before, .icon-linkedin:before, .icon-google-plus:before, .icon-search:before, .icon-play:before, .icon-menu:before, .icon-arrow-left:before, .icon-arrow-right:before, .icon-bubble:before, .icon-facebook:before, .icon-feed:before, .icon-youtube:before, .icon-tag:before, .icon-tumblr:before, .icon-instagram, .icon-podcast, .icon-apple, .icon-android, .icon-arrow:after, .icon-envelope:before {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-twitter:before {
  content: "\74"; }

.icon-stumbleupon:before {
  content: "\75"; }

.icon-pinterest:before {
  content: "\70"; }

.icon-linkedin:before {
  content: "\69"; }

.icon-google-plus:before {
  content: "\67"; }

.icon-search:before {
  content: "\73"; }

.icon-play:before {
  content: "\61"; }

.icon-menu:before {
  content: "\21"; }

.icon-arrow-left:before {
  content: "\23"; }

.icon-arrow-right:before {
  content: "\24"; }

.icon-bubble:before {
  content: "\25"; }

.icon-facebook:before {
  content: "\66"; }

.icon-feed:before {
  content: "\27"; }

.icon-youtube:before {
  content: "\79"; }

.icon-tag:before {
  content: "\28"; }

.icon-tumblr:before {
  content: "\6d"; }

.icon-instagram:before {
  content: "\22"; }

.icon-podcast:before {
  content: "\26"; }

.icon-android:before {
  content: "\29"; }

.icon-apple:before {
  content: "\2a"; }

.icon-envelope:before {
  content: "\2b"; }

.icon-arrow:after {
  content: "\61";
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.icon-play:before {
  font-size: 0.7rem;
  padding-left: 0.2em; }

.icon-play-box {
  display: block; }

.element-invisible,
.visually-hidden, .path-frontpage h1 {
  position: absolute;
  width: 1px;
  /* Setting this to 0 make it invisible for VoiceOver */
  height: 1px;
  /* Setting this to 0 make it invisible for VoiceOver */
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin-top: -1px;
  margin-right: -1px;
  margin-bottom: -1px;
  margin-left: -1px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0; }

.form-item--error-message, .messages--error {
  color: red; }
  .form-item--error-message:before, .messages--error:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    background-image: url(/core/misc/icons/ea2800/error.svg);
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: 0 -1px;
    margin-top: 0;
    margin-right: 0.2em;
    margin-bottom: 0;
    margin-left: 0; }

.messages--warning {
  color: #cc8400; }
  .messages--warning:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    background-image: url(/core/misc/icons/e29700/warning.svg);
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: 0 -1px;
    margin-top: 0;
    margin-right: 0.2em;
    margin-bottom: 0;
    margin-left: 0; }

.valid, .messages--status {
  color: green; }
  .valid:before, .messages--status:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(/core/misc/icons/73b355/check.svg);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    margin-top: 0;
    margin-right: 0.2em;
    margin-bottom: 0;
    margin-left: 0; }

body,
p {
  color: #2b2b2b;
  font-size: 12px;
  font-size: 1rem;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 400;
  font-style: normal; }

p em,
p i,
blockquote {
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 400;
  font-style: italic; }

p strong {
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 700;
  font-style: normal; }

h1,
h2,
h3,
h4,
h5 {
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 800;
  font-style: normal; }

a {
  color: #3f669b;
  text-decoration: none;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 700;
  font-style: normal; }
  a:hover {
    text-decoration: underline;
    background-color: #f4efd6; }
  a:visited {
    text-decoration: underline; }

img {
  background-color: transparent;
  display: block; }

hr {
  display: block;
  height: 2px;
  border: 0;
  background: #9c9c9c;
  margin-top: 1em;
  margin-right: 0;
  margin-bottom: 1em;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0; }

a:hover img {
  background: none; }

label {
  vertical-align: middle;
  margin-top: 0;
  margin-right: 0.3em;
  margin-bottom: 0;
  margin-left: 0;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 700;
  font-style: normal; }

input,
textarea,
fieldset {
  border: 1px solid #ccc;
  margin-top: 0.3em;
  margin-right: 0;
  margin-bottom: 0.3em;
  margin-left: 0;
  padding-top: 0.1em;
  padding-right: 0.2em;
  padding-bottom: 0.1em;
  padding-left: 0.2em;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  font-size: 1rem; }

input.form-radio {
  margin-top: 0.3em;
  margin-right: 0.3em;
  margin-bottom: 0.3em;
  margin-left: 0; }

.form-required:after {
  content: '';
  vertical-align: super;
  display: inline-block;
  width: 6px;
  height: 6px;
  background-image: url(/core/misc/icons/ee0000/required.svg);
  background-repeat: no-repeat;
  background-size: 6px 6px;
  margin-top: 0;
  margin-right: 0.3em;
  margin-bottom: 0;
  margin-left: 0.3em; }

.is-error {
  border: 1px solid red; }

.is-valid {
  border: 1px solid green; }

.button {
  color: white;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background: #3f669b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3f669b), to(#0a6db2));
  background-image: -webkit-linear-gradient(top, #3f669b, #0a6db2);
  background-image: linear-gradient(to bottom, #3f669b, #0a6db2);
  border-radius: 8px;
  margin-top: 0;
  margin-right: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  padding-top: 0.5em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 700;
  font-style: normal; }

.button:hover {
  background: #034176;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#034176), to(#3f669b));
  background-image: -webkit-linear-gradient(top, #034176, #3f669b);
  background-image: linear-gradient(to bottom, #034176, #3f669b);
  text-decoration: none; }

table {
  width: 100%;
  border: 1px solid #ccc;
  border-spacing: 0; }

thead th {
  border-bottom: 1px solid #ccc; }

tfoot th {
  border-top: 1px solid #ccc; }

th {
  text-align: center; }

th,
td {
  border: none;
  padding-top: 0.2em;
  padding-right: 0.5em;
  padding-bottom: 0.2em;
  padding-left: 0.5em; }

.even {
  background-color: #dedede; }

.odd {
  background-color: #eee; }

.description {
  color: #818181;
  font-size: 11px;
  font-size: 0.91667rem; }

time {
  color: #818181;
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 400;
  font-style: italic; }

.logo {
  width: 150px;
  height: 171px; }

.message {
  padding-top: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em; }

.messages--status {
  background-color: #e6f2e6;
  background-image: none;
  -webkit-box-shadow: -8px 0 0 green;
          box-shadow: -8px 0 0 green;
  padding-top: 0.4em;
  padding-right: 0.4em;
  padding-bottom: 0.4em;
  padding-left: 0.4em; }

.messages--error {
  background-color: #ffe6e6;
  background-image: none;
  -webkit-box-shadow: -8px 0 0 red;
          box-shadow: -8px 0 0 red;
  padding-top: 0.4em;
  padding-right: 0.4em;
  padding-bottom: 0.4em;
  padding-left: 0.4em; }

.messages--warning {
  background-color: #ffffe6;
  background-image: none;
  -webkit-box-shadow: -8px 0 0 orange;
          box-shadow: -8px 0 0 orange;
  padding-top: 0.4em;
  padding-right: 0.4em;
  padding-bottom: 0.4em;
  padding-left: 0.4em; }

div[role=alert] {
  display: inline-block; }

.search,
.search__title,
.search form {
  display: inline-block; }

/*# sourceMappingURL=style.css.map */