//////////////////////////////////////////
//
// Layout - Breakpoints.
//
//////////////////////////////////////////

$mobile: new-breakpoint(min-width 0px max-width 860px, 6); // The hamburger icon is used within these breakpoints.
$desktop: new-breakpoint(min-width 861px 12);  // The primary menu appears starting at this breaking point.
$full-width: new-breakpoint(min-width 1160px 12); // The primary menu appears to the right of the logo.
