//////////////////////////////////////////
//
// Utilities - Typography.
//
// See also http://bourbon.io/docs/#font-face.
//
//////////////////////////////////////////

// Import fonts.
@import url(https://fonts.googleapis.com/css?family=Archivo+Black);
@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,400italic);

// Font families.
$fontBlack: "Archivo Black", Arial, sans-serif;
$fontNarrow: "Archivo Narrow", Arial, sans-serif;
$fontOpenSans: OpenSans, Arial, sans-serif;

// Font weights.
$font-normal: 400;
$font-normal-italic: 400italic;
$font-light: 300;
$font-bold: 700;
$font-extra-bold: 800;

// Base font size.
$base-font-size: 12px;
