//////////////////////////////////////////
//
// Utilities - Extends.
//
//////////////////////////////////////////

%hideText {
  position: absolute;
  width: 1px; /* Setting this to 0 make it invisible for VoiceOver */
  height: 1px; /* Setting this to 0 make it invisible for VoiceOver */
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  @include marginSize(-1px, -1px, -1px, -1px);
  @include paddingSize(0, 0, 0, 0);
}

%alert {
  color: red;
  &:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    background-image: url(/core/misc/icons/ea2800/error.svg);
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: 0 -1px;
    @include marginSize(0, 0.2em, 0, 0);
  }
}

%info {
  color: darken(orange, 10%);
  &:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    background-image: url(/core/misc/icons/e29700/warning.svg);
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: 0 -1px;
    @include marginSize(0, 0.2em, 0, 0);
  }
}

%valid {
  color: green;
  &:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(/core/misc/icons/73b355/check.svg);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    @include marginSize(0, 0.2em, 0, 0);
  }
}