//////////////////////////////////////////
//
// Utilities - Mixins.
//
//////////////////////////////////////////

// Mixin for alert, warning messages.
@mixin messages($message-color){
  background-color: tint($message-color, 90%);
  border-left: 8px solid $message-color;
  color: $message-color;
  @include padding(1em 0.4em 1em 2em);
    background-repeat: no-repeat;
    background-size: 1em 1em;
    background-position: 0.5em 1.1em;
}

// Mixin for setting font family and weight.
// See _utilities_typpography.scss for font variables.
@mixin font($fontfamily, $fontweight){
  font-family: $fontfamily;
  font-weight: $fontweight;
}

// Mixin for setting font sizes with px and rem.
@mixin font-size($font-size){
  font-size: $font-size;
  font-size: ($font-size/$base-font-size)*1rem;
}

// Example for setting font size.
// @include font-size(11px);
