//////////////////////////////////////////
//
// Modules - Messages.
//
//////////////////////////////////////////

.message {
  @include padding(0.5em 0.5em 0.5em 0.5em);
}

.messages--status {
  @include messages(green);
  &:before {
    background-image: url(/core/misc/icons/73b355/check.svg);
  }
}

.messages--error {
  @include messages(red);
  &:before {
    background-image: url(/core/misc/icons/e32700/error.svg);
  }
}

.messages--warning {
  @include messages(yellow);
  color: orange;
  &:before {
    background-image: url(/core/misc/icons/e29700/warning.svg);
  }
}

div[role=alert] {
  display: inline-block;
}
