//////////////////////////////////////////
//
// Components - Primary Nav.
//
//////////////////////////////////////////

$menu-width: percentage(1/7);

.region-primary-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  transition: all 200ms ease-in;
  @include marginSize(0, 0, 0, -300px);
  @include breakpoint($three-column) {
    position: inherit;
    width: 100%;
    transition: all 0ms ease-in;
    @include marginSize(0, 0, 0, 0);
  }
}

.primary-nav {
  width: 300px;
  height: 100%;
  list-style: none;
  overflow: hidden;
  @include marginSize(0, 0, 0, 0);
  @include paddingSize(0, 0, 0, 0);
  @include breakpoint($three-column) {
    display: flex;
    position: relative;
    height: 80px;
    width: 100%;
    z-index: 1;
    background-color: transparent;
    @include grid-span(9, 4);
  }
}

.toolbar-vertical .primary-nav {
  top: 40px;
  @include breakpoint($three-column) {
    top: 0;
  }
}

.primary-nav__item {
  position: relative;
  list-style: none;
  border-top: 1px solid $color-cream-brulee;
  background-image: none;
  background-color: $color-white;
  @include paddingSize(0, 0, 0, 0);
  @include marginSize(0, 0, 0, 0);
  &:hover {
    background-image: none;
    background-color: $color-denim;
  }
  @include breakpoint($three-column) {
    display: inline-block;
    align-self: flex-end;
    width: $menu-width;
    border: none;
    @include marginSize(0, 2px, 0, 0);
    @extend %white-to-wheatfield;
    &:hover {
      background-color: transparent;
    }
  }
}

.primary-nav__link {
  display: block;
  width: 100%;
  height: 100%;
  background-image: none;
  background-color: $color-white;
  @include paddingSize(0.5em, 1em, 0.5em, 1.5em);
  &:hover {
    color: $color-white;
    background-color: transparent;
    @include animate('fade-in', 0s);
  }
  @include breakpoint($three-column) {
    height: 70px;
    align-self: flex-start;
    text-transform: uppercase;
    text-align: center;
    z-index: 2;
    color: $color-san-marino-blue;
    background-color: transparent;
    box-shadow: none;
    @include paddingSize(1em, 0, 0, 0);
    @include font-size(11px);
    @include breakpoint($small-text-menu) {
      @include font-size(9px);
    }
    &:hover {
      height: 80px;
      transition: height 0.3s;
      width: 100%;
      color: $color-white;
      background-image: transparent;
      background-color: $color-regal-blue;
      text-decoration: none;
      @include paddingSize(1.6em, 0, 0, 0);
    }
  }
}

.primary-nav__item .is-active {
  @include breakpoint($three-column) {
    height: 80px;
    width: 100%;
    color: $color-white;
    background-image: none;
    background-color: $color-san-marino-blue;
    @include paddingSize(1.6em, 0, 0, 0);
  }
}

// Second level items of primary navigation.

.primary-nav__item input + label {
  display: block;
  position: relative;
  float: right;
  border: 1px solid red;
  width: 10px;
  height: 10px;
  @include marginSize(1em, 1em, 0, 0);
  @include paddingSize(0, 0, 0, 0);
  @include breakpoint($three-column) {
    @extend %hideText;
  }
}

.primary-nav__toggle {
  @include breakpoint($three-column) {
    @extend %hideText;
  }
}

.primary-nav__item .primary-nav__drop-level,
.primary-nav__item .primary-nav__drop-level2 {
  @include paddingSize(0, 0, 0, 0);
  @include marginSize(0, 0, 0, 0);
}

.primary-nav__drop-level .primary-nav__link {
  text-indent: 10px;
}

.primary-nav__drop-level2 .primary-nav__link {
  text-indent: 20px;
}

.primary-nav__item input[type=checkbox] {
  float: right;
  @include marginSize(.5em, .5em, 0, 0);
}

.primary-nav__item input[type=checkbox] + label {
  background: #999;
}

.primary-nav__item input[type=checkbox]:checked + label {
  background: #0080FF;
}

// The hamburger menu icon.

.hamburger {
  color: inherit;
  border: none;
  background-color: transparent;
  @include paddingSize(0, 0, 0, 0);
  @include breakpoint($hamburger-menu) {
    display: block;
    position: relative;
    z-index: 101;
    left: 10px;
    top: 32px;
    height: 5px;
    width: 35px;
    background: $color-regal-blue;
    content: "";
    border-radius: 1px;
    @include paddingSize(0, 0, 0, 1.25em);
  }
}

.hamburger:before,
.hamburger:after {
  @include breakpoint($hamburger-menu) {
    display: block;
    position: absolute;
    left: 0;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $color-regal-blue;
    content: "";
    @include paddingSize(0, 0, 0, 1.25em);
  }
}

.hamburger:before {
  top: -10px;
}

.hamburger:after {
  bottom: -10px;
}

.hamburger span {
  display: block;
  height: 40px;
  width: 35px;
  position: relative;
  left: -20px;
  top: -20px;
  @include breakpoint($three-column) {
    display: inherit;
    height: 0;
    width: 0;
  }
}