<label for="edit-field-list">Select list</label>
<select data-drupal-selector="edit-field-list" id="edit-field-list" name="field_list" class="form-select">
  <option value="_none">- None -</option>
  <option value="1" selected="selected">one</option>
  <option value="2">two</option>
  <option value="3">three</option>
</select>
<hr>
<label for="edit-field-list-2">Select list 2</label>
<select data-drupal-selector="edit-field-list-2" multiple="multiple" name="field_list_2[]" id="edit-field-list-2" class="form-select">
  <option value="_none">- None -</option>
  <option value="1">one</option>
  <option value="2" selected="selected">two</option>
  <option value="3">three</option>
</select>