<div id="edit-field-checkbox-list" class="form-checkboxes"><div class="form-item js-form-type-checkbox form-item-field-checkbox-list-one">
    <input data-drupal-selector="edit-field-checkbox-list-one" type="checkbox" id="edit-field-checkbox-list-one" name="field_checkbox_list[one]" value="one" class="form-checkbox">

    <label for="edit-field-checkbox-list-one" class="option">one</label>
  </div>
  <div class="form-item js-form-type-checkbox form-item-field-checkbox-list-two">
    <input data-drupal-selector="edit-field-checkbox-list-two" type="checkbox" id="edit-field-checkbox-list-two" name="field_checkbox_list[two]" value="two" checked="checked" class="form-checkbox">

    <label for="edit-field-checkbox-list-two" class="option">two</label>
  </div>
  <div class="form-item js-form-type-checkbox form-item-field-checkbox-list-three">
    <input data-drupal-selector="edit-field-checkbox-list-three" type="checkbox" id="edit-field-checkbox-list-three" name="field_checkbox_list[three]" value="three" class="form-checkbox">

    <label for="edit-field-checkbox-list-three" class="option">three</label>
  </div>
</div>