<div id="edit-field-another-checkbox" class="form-radios"><div class="form-item js-form-type-radio form-item-field-another-checkbox">
    <input data-drupal-selector="edit-field-another-checkbox-none" type="radio" id="edit-field-another-checkbox-none" name="field_another_checkbox" value="_none" class="form-radio">

    <label for="edit-field-another-checkbox-none" class="option">N/A</label>
  </div>
  <div class="form-item js-form-type-radio form-item-field-another-checkbox">
    <input data-drupal-selector="edit-field-another-checkbox-option1" type="radio" id="edit-field-another-checkbox-option1" name="field_another_checkbox" value="option1" class="form-radio">

    <label for="edit-field-another-checkbox-option1" class="option">Option 1</label>
  </div>
  <div class="form-item js-form-type-radio form-item-field-another-checkbox">
    <input data-drupal-selector="edit-field-another-checkbox-option2" type="radio" id="edit-field-another-checkbox-option2" name="field_another_checkbox" value="option2" class="form-radio">

    <label for="edit-field-another-checkbox-option2" class="option">Option 2</label>
  </div>
</div>