<!-- Color names based on http://chir.ag/projects/name-that-color/. -->
<ul class="sg-colors">
	<li>
		<span class="sg-swatch regal-blue"></span>
		<span class="sg-label">$color-regal-blue</span>
	</li>
	<li>
		<span class="sg-swatch denim"></span>
		<span class="sg-label">$color-denim</span>
	</li>
	<li>
		<span class="sg-swatch san-marino-blue"></span>
		<span class="sg-label">$color-san-marino-blue</span>
	</li>
	<li>
		<span class="sg-swatch cinnabar"></span>
		<span class="sg-label">$color-cinnabar</span>
	</li>
	<li>
		<span class="sg-swatch totem-pole"></span>
		<span class="sg-label">$color-totem-pole</span>
	</li>
  <li>
    <span class="sg-swatch sun"></span>
    <span class="sg-label">$color-sun</span>
  </li>
  <li>
    <span class="sg-swatch wheatfield"></span>
    <span class="sg-label">$color-wheatfield</span>
  </li>
  <li>
    <span class="sg-swatch mine-shaft"></span>
    <span class="sg-label">$color-mine-shaft</span>
  </li>
  <li>
    <span class="sg-swatch gray"></span>
    <span class="sg-label">$color-gray</span>
  </li>
  <li>
    <span class="sg-swatch dusty-gray"></span>
    <span class="sg-label">$color-dusty-gray</span>
  </li>
  <li>
    <span class="sg-swatch silver"></span>
    <span class="sg-label">$color-silver</span>
  </li>
  <li>
    <span class="sg-swatch alto"></span>
    <span class="sg-label">$color-alto</span>
  </li>
  <li>
    <span class="sg-swatch mercury"></span>
    <span class="sg-label">$color-mercury</span>
  </li>
</ul>