<p>Primary font: "OpenSans", "Arial", sans-serif;</p>
<p><em>Primary font italic: "OpenSansItalic", "Arial", sans-serif;</em></p>
<p><strong>Primary font bold: "OpenSans", "Arial", sans-serif;</strong></p>