<p class="hide-small">This text is hidden on screens less than 400px</p>

<p class="hide-med hide-large"><em>This text is only visible on screens less than 400px</em></p>

<p class="hide-med">This text is hidden on screens between 400px and 900px</p>

<p class="hide-small hide-large"><em>This text is only visible on screens between 400px and 900px</em></p>

<p class="hide-large">This text is hidden on larger than 900px</p>

<p class="hide-small hide-med"><em>This text is only visible on screens between 400px and 900px</em></p>