//////////////////////////////////////////
//
// Base - Inline Elements.
//
//////////////////////////////////////////

body,
p {
  color: $color-black;
  @include font-size(12px);
  @include font($fontOpenSans, $font-normal);
}

p em,
p i,
blockquote {
  @include font($fontOpenSans, $font-normal-italic);
}

p strong {
  @include font($fontOpenSans, $font-bold);
}

h1,
h2,
h3,
h4,
h5 {
  @include font($fontOpenSans, $font-extra-bold);
}

a {
  color: $color-link;
  text-decoration: none;
  @include font($fontOpenSans, $font-bold);
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    text-decoration: underline;
  }
}

img {
  display: block;
}

hr {
  display: block;
  height: 2px;
  border: 0;
  background: $color-gray;
  @include margin(1em 0 1em 0);
  @include padding(0 0 0 0);
}
