//////////////////////////////////////////
//
// Base - Buttons.
//
//////////////////////////////////////////

// Submit.

.button {
  color: white;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background: $color-san-marino-blue;
  border-radius: 8px;
  @include marginSize(0, 1em, 1em, 1em);
  @include paddingSize(0.5em, 1em, 0.5em, 1em);
  @include font($fontOpenSans, 700);
}

.button:hover {
  background: $color-regal-blue;
  text-decoration: none;
}
