//////////////////////////////////////////
//
// Base - Form Elements.
//
//////////////////////////////////////////

// Input, label.
label {
  vertical-align: middle;
  @include margin(0 0.3em 0 0);
}

// Input, field.
input,
textarea,
fieldset {
  border: 1px solid $color-light;
  @include margin(0.3em 0 0.3em 0);
  @include padding(0.1em 0.2em 0.1em 0.2em);
  @include font-size(12px);
}

input.form-radio {
  @include margin(0.3em 0.3em 0.3em 0);
}

// Input, required.
.form-required:after {
  content: '';
  vertical-align: super;
  display: inline-block;
  width: 6px;
  height: 6px;
  background-image: url(/core/misc/icons/ee0000/required.svg);
  background-repeat: no-repeat;
  background-size: 6px 6px;
  @include margin(0 0.3em 0 0.3em);
}

// Input, error.
.form-item--error-message {
  @include messages(red);
  &:before {
    background-image: url(/core/misc/icons/e32700/error.svg);
  }
}

.is-error {
  border: 1px solid red;
}

// Input, valid.
.valid {
  @include messages(green);
  &:before {
    background-image: url(/core/misc/icons/73b355/check.svg);
  }
}

.is-valid {
  border: 1px solid green;
}
