<div class="search-block-form contextual-region" data-drupal-selector="search-block-form" id="block-hitgov-search" role="search">

  <h2>Search</h2>
  <div data-contextual-id="block:block=hitgov_search:langcode=en"></div>

  <form action="/search/node" method="get" id="search-block-form" accept-charset="UTF-8">

    <div class="form-item js-form-type-search form-item-keys form-no-label">

      <label for="edit-keys" class="visually-hidden">Search</label>
      <input title="Enter the terms you wish to search for." data-drupal-selector="edit-keys" type="search" id="edit-keys" name="keys" value="" size="15" maxlength="128" class="form-search">

    </div>
    <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">

      <input data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="" value="Search" class="button js-form-submit form-submit">

    </div>

  </form>

</div>