<div id="block-hitgov-content">

  <form class="user-login-form" data-drupal-selector="user-login-form" action="/user/login" method="post" id="user-login-form" accept-charset="UTF-8">

    <div class="form-item js-form-type-textfield form-item-name">

      <label for="edit-name" class="form-required">Username</label>
      <input autocorrect="none" autocapitalize="none" spellcheck="false" autofocus="autofocus" data-drupal-selector="edit-name" aria-describedby="edit-name--description" type="text" id="edit-name" name="name" value="" size="60" maxlength="60" class="form-text required" required="required" aria-required="true">

      <div id="edit-name--description" class="description">
        Enter your [site-name] site username.
      </div>
    </div>
    <div class="form-item js-form-type-password form-item-pass">

      <label for="edit-pass" class="form-required">Password</label>
      <input data-drupal-selector="edit-pass" aria-describedby="edit-pass--description" type="password" id="edit-pass" name="pass" size="60" maxlength="128" class="form-text required" required="required" aria-required="true">

      <div id="edit-pass--description" class="description">
        Enter the password that accompanies your username.
      </div>

    </div>

    <input data-drupal-selector="form-v5ja-x89zftazeturuslmndjiyssnese6r1y39vmcgy" type="hidden" name="form_build_id" value="form-V5jA_x89ZFTaZETUrUslmnDjIYssnese6R1Y39VMCgY">
    <input data-drupal-selector="edit-user-login-form" type="hidden" name="form_id" value="user_login_form">

    <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
      <input data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Log in" class="button js-form-submit form-submit">
    </div>

  </form>
</div>