<ul class="primary-nav">
  <li class="menu-item primary-nav__item">
    <a href="#" class="primary-nav__link is-active">Home</a>
  </li>
  <li class="menu-item primary-nav__item">
    <a href="#" class="primary-nav__link">Menu Item 1</a>
  </li>
  <li class="menu-item primary-nav__item">
    <a href="#" class="primary-nav__link">Menu Item 2</a>
  </li>
  <li class="menu-item primary-nav__item">
    <a href="#" class="primary-nav__link">Menu Item 3</a>
  </li>
  <li class="menu-item primary-nav__item">
    <a href="#" class="primary-nav__link">Menu Item 4</a>
  </li>
  <li class="menu-item primary-nav__item">
    <a href="#" class="primary-nav__link">Menu Item 5</a>
  </li>
  <li class="menu-item primary-nav__item">
    <a href="#" class="primary-nav__link">Menu Item 6</a>
  </li>
</ul>